<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778877158733-iqbo9teq7juuba2uddqr9266rmumqrrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778877158733-iqbo9teq7juuba2uddqr9266rmumqrrg</string>
	<key>API_KEY</key>
	<string>AIzaSyDaVBEJ-Kt9af_JYCDqHQ-pnqD6s6dVGa4</string>
	<key>GCM_SENDER_ID</key>
	<string>778877158733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tu.ac.student.sk.Instagram-Clone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-9bb32</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-9bb32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778877158733:ios:3c79ce150535dd57d1e304</string>
</dict>
</plist>